body {
	margin: 0;
}
.container_header {
	display: flex;
	max-width: 1000px;
	margin: 0 auto;
}
.nav_list {
	display: flex;
	list-style: none;
}
.nav_item {
	margin-right:42px ;
	font-weight: 400;
	font-size: 16px;
	line-height: 26px;
	letter-spacing: 0.1em;
	color: #000000;
}
.nav_link{
	font-weight: 400;
	font-size: 16px;
	line-height: 26px;
	letter-spacing: 0.1em;
	color: #000000;
}

.logo {
	font-family: 'Revalia';
	font-style: normal;
	font-weight: 400;
	font-size: 48px;
	line-height: 60px;
	color: #9D483A;
}
.nav {
	margin: auto ;
}
.header {
	background: #D0B7B3;
	position: sticky;
	top: 0;
}
.nav_link:hover {
	font-size: 20px;
	color: #9D483A;
	cursor: pointer;
}
.hero_block{
	background: #D0B7B3;
}

.about_title{
	font-weight: 500;
	font-size: 64px;
	line-height: 164.06%;
	text-align: center;
	color: #000000;
	margin: 0;
}
.about_content{
	display: flex;
	max-width: 1000px;
	margin: 111px auto 0px;
}
.about_img{
	width: 597px;
	height: 568px;
	margin-left: 115px;
	margin-bottom: 34px;
}
.about_progres{
	list-style: none;
	padding: 0;
	width: 350px;
}
.about_item_text{
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 400;
	font-size: 20px;
	line-height: 164.06%;
	color: #727272;
}
.about_full{
	background: #34547A;
	height: 4px;
}
.about{
	background: #D0B7B3;
}
.about_container{
	max-width: 1000px;
	margin: 0 auto;
}
.video{
	background: #D0B7B3;
}
.video_title{
	font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 32px;
line-height: 38px;
text-align: center;
margin: 0;
color: #000000;

}
.video_container{
	max-width: 900px;
	margin: 57px auto 0;
	padding-bottom: 57px;
}
.galary_list{
	display: flex;
	list-style: none;
	padding: 0;
	margin: 0;
	flex-wrap: wrap;
}
.galary_item{
	width: 25%;
}
.galary_img{
	width: 100%;
	height: 350px;
}
.hero_container{
	display: flex;
	max-width: 1000px;
	margin: 0 auto;
}
.hero_img{
	margin-right: 50px;
}
.galary{
	background: #D0B7B3;
}
.footer{
	background: #9D483A;
}
.footer_container{
	display: flex;
	justify-content: space-between;
	padding: 20px;
}
.footer_list{
	display: flex;
	list-style: none;
}
@media (max-width: 1024px) {
	.nav {
		display: none;
	}
}